{%- comment -%}
acg-title
Inputs:
- c: collection object
- style: 'h1'..'h6' | 'body' | 'button'
{%- endcomment -%}

{%- assign label = c.title -%}
{%- assign style_choice = style | default: 'h3' -%}

{%- case style_choice -%}
  {%- when 'body' -%}
    <div class="cg__title">{{ label | escape }}</div>
  {%- when 'button' -%}
    <a class="cg__btn button button--primary" href="{{ c.url }}">{{ label | escape }}</a>
  {%- else -%}
    <{{ style_choice }} class="cg__title">{{ label | escape }}</{{ style_choice }}>
{%- endcase -%}
